<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"

      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      >
<head>
<meta charset="utf-8">
<title>Inicio | Ecommerce</title>
<link rel="stylesheet" href="/css/inicio.css"/>
 <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <script  th:src="@{/webjars/jquery/jquery.min.js}"></script>      
        <script  th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>      
        <script  th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>      

</head>
<body>


<nav th:replace="layout/plantilla :: nav"></nav>

<div class="container">
	
	<div class="jumbotron">
		<img class="card-img-top" src="/img/banner.jpg" alt="logo" width="80" height="120">
						
	</div>
	
	
			<div class="container text-center">
				<h1>¡Bienvenido!</h1>
			  <span>Creador <i class="zmdi zmdi-favorite red"></i>  By: <strong>Joel Sigüenza</strong> para <i><a href="https://cibertec.blackboard.com/webapps/login/" target="_bank" class="wsk-btn">CL2_DAWII</a></i></span>
			</div>	
	<div class="text-center p-2"  th:if="${productos == null or productos.empty }">                                
	                                <span>NINGUN PRODUCTO EN LISTA</span>                                
	</div>	
	
	<div class="shell">
	  <div class="container">
	    <div class="row">
	      <div class="col-md-3" th:each="p:${productos}">
	        <div class="wsk-cp-product">
	          <div class="wsk-cp-img">
	            <img th:src="@{'images/'+${p.imagen}}" th:alt="${p.imagen}" class="img-responsive" />
	          </div>
	          <div class="wsk-cp-text">
	            <div class="category">
	              <span th:text="'Stock: '+${p.cantidad}"></span>
	            </div>
	            <div class="title-product">
	              <h3  th:text="${p.nombre}"></h3>
	            </div>
	            <div class="description-prod">
	              <p th:text="'Descripción: '+ ${p.descripcion}"></p>
	            </div>
	            <div class="card-footer">
	              <div class="wcf-left"><span class="price" th:text="'S/.'+ ${p.precio}"></span></div>
	              <div class="wcf-right"><a th:href="@{/productos/detalle/} + ${p.idProducto}" class="buy-btn"><i class="fa-solid fa-cart-shopping"></i></a></div>
	            </div>
	          </div>
	        </div>
	      </div>
	      
	    </div>
	  </div>
	</div>
			
</div>
<footer th:replace="layout/plantilla :: footer"></footer>
    
</body>
</html>